<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#f8f8f8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>华农乒协训练预约</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">
  <style type="text/css">
    body {
      padding-top: 70px;
      background-color: #EEE;
    }
    
    .input-group {
      padding-top: 20px;
    }
    
    .panel-title {
      margin: 10px;
      font-size: 22px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #f8f8f8;">
    <div class="navbar-header">
      <a class="navbar-brand" href="admin.html">华农乒协后台管理系统</a>
    </div>
  </nav>
  <ul class="nav nav-tabs" id="myTab" style="display: none;">
    <li>
      <a href="#mylistTable"></a>List</li>
    <li>
      <a href="#joinInDiv"></a>SignIn</li>
  </ul>

  <div id="addMeet" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <fieldset>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">增加活动</h4>
          </div>
          <div class="modal-body col-md-offset-1 col-md-10">
            <div id="notice2">
            </div>
            <div class="form-group">
              <label class="control-label">名称:</label>
              <input id="meetName" class="form-control" placeholder="请输入活动的名称">
            </div>
            <div class="form-group">
              <label class="control-label">报名截至时间：</label>
              <div class="input-group date form_datetime col-md-5" data-date-format="dd-MM-yyyy HH:ii:00" data-link-field="dtp_input1">
                <input id="meetEndDate" class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
              </div>
              <input type="hidden" value="" /><br/>
            </div>
            <div class="form-group">
              <label class="control-label">负责人邮箱:</label>
              <input id="meetEmail" class="form-control" placeholder="活动报名截止后系统将会把名单自动发送到负责人的邮箱">
            </div>
            <div class="form-group">
              <label class="control-label">问题说明:</label>
              <input id="meetText" class="form-control" placeholder="报名时附带的问题，如：你希望训练什么？">
            </div>
            <div class="form-group">
              <label class="control-label">时间或地点：</label>
              <input id="meetStartDate" class="form-control" placeholder="可以填写活动开始的时间和地点，例如：本周五-教学楼、2017-9-1 10：00-体育馆">
              <input type="hidden" value="" /><br/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" onclick="addActive()">确定</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="tab-content">
      <div class="col-md-2" style="padding-top: 3%;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p style="font-size: 20px;padding-top: 20px;text-align: center;"><img src="pic/manbig.png">
              <p id="userName" style="font-size: 20px;text-align: center;">Hi, <b id="myName">World</b></p>
            </p>
          </div>
          <div class="panel-body" style="padding: 10px;">
            <a class="btn btn-success btn-block" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="cleanNew()"><i class="fa fa-plus fa-fw"></i> 增加活动</a>
            <a onclick="getList()" href="#mylistTable" role="tab" data-toggle="tab" class="btn btn-success btn-block"><i class="fa fa-retweet fa-fw"></i> 刷新列表</a>
            <a href="https://my.zhenly.cn" target="_black" class="btn btn-success btn-block"><i class="fa fa-user-md fa-fw"></i> 用户中心</a>
            <a href="index.html" class="btn btn-warning btn-block"><i class="fa fa-home fa-fw"></i> 返回主页</a>
            <a onclick="logout()" class="btn btn-warning btn-block"><i class="fa fa-sign-out fa-fw"></i> 退出登陆</a>
          </div>

        </div>
      </div>
      <div class="col-md-10 active tab-pane fade in" style="padding-top: 3%;" id="mylistTable" role="tabpanel">
        <div class="panel panel-success" v-for="(meeting, index) in meetings">
          <div class="panel-heading">
            <h2 class="panel-title">{{meeting.name}} <span :class="'label label-' + meeting.class">{{meeting.state}}</span></h2>
          </div>
          <div class="panel-body">
            <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 开始日期: {{meeting.startDate}}</p>
            <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 报名截至: {{new Date(meeting.endDate).Format('yyyy-MM-dd hh:mm:ss')}}</p>
            <p><i class="fa fa-users fa-fw" aria-hidden="true"></i> 报名人数: {{meeting.actors}}</p>
          </div>
          <div class="panel-footer" style="text-align: right;">
            <p style="margin-bottom: 0px;">
              <a href="#joinInDiv" aria-controls="loginDiv" role="tab" data-toggle="tab" style="margin-left: 10px;" class="btn btn-success" onclick="setActive(this)" :value="index">
                <i class="fa fa-info fa-fw"></i> 详情
              </a>
            </p>
          </div>
        </div>
        <div id="noActiveBox" class="panel panel-success" style="display: none;">
          <div class="panel-body">
            <h4>当前没有任何活动</h4>
          </div>
        </div>
      </div>
      <div class="col-md-10 tab-pane fade in" style="padding-top: 3%;" id="joinInDiv" role="tabpanel">
        <div class="panel panel-success">
          <div class="panel-heading" style="font-size: 17px;">
            <i href="#mylistTable" role="tab" data-toggle="tab" class="fa fa-arrow-left fa-fw" style="margin-right: 20px;"></i> 详情
            <b id="activeName"></b>
          </div>
          <div class="panel-body">
            <div id="detailBox">

              <div id="notice"></div>
              <span style="font-size: 20px;margin-top: 30px;"><i class="fa fa-play fa-fw"></i> 活动信息</span>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-id-card-o fa-fw"></i> 活动名称</span>
                  <input v-model="detail.name" type="text" id="aName" class="form-control" placeholder="请输入活动名称" aria-describedby="inputGroupSuccess1Status">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i> 时间和地点</span>
                  <input v-model="detail.startDate" type="text" id="aTime" class="form-control" placeholder="请输入活动开始的时间和地点" aria-describedby="inputGroupSuccess1Status">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-question fa-fw"></i> 问题说明</span>
                  <input v-model="detail.text" type="text" id="helpText" class="form-control" placeholder="问题说明" aria-describedby="inputGroupSuccess1Status">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i> 负责人邮箱</span>
                  <input v-model="detail.email" type="text" id="userEmail" class="form-control" placeholder="负责人邮箱" aria-describedby="inputGroupSuccess1Status">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar-o fa-fw"></i> 报名截至日期</span>
                <div style="padding-top: 0px;" class="input-group date form_datetime col-md-5" data-date-format="dd-MM-yyyy HH:ii:00" data-link-field="dtp_input1">
                  <input id="deadLine" class="form-control" size="16" type="text" value="" readonly>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
              </div>
            </div>
            <div style="text-align: right;padding: 3px 20px 20px 0px">
              <button type="submit" class="btn btn-danger" onclick="deleteActive()"><i class="fa fa-eraser fa-fw"></i> 删除活动</button>
              <button type="submit" class="btn btn-success" onclick="editActive()"><i class="fa fa-check fa-fw"></i> 确认修改</button>
            </div>
            <div class="form-group" style="margin-top: 30px;">
              <span style="font-size: 20px;margin-top: 30px;"><i class="fa fa-users fa-fw"></i> 参与人员</span>

              <table id="manTable" class="table table-hover" style="margin-top: 30px;">
                <tr style="font-size:17px;">
                  <th>报名时间</th>
                  <th>姓名</th>
                  <th>手机</th>
                  <th>训练内容</th>
                  <th>操作</th>
                </tr>
                <tr v-if="peoples.length == 0">
                  <td>当前还没有人报名</td>
                </tr>
                <tr v-for="(people, index) in peoples" style="font-size:15px;" data-placement="bottom" class="tooltip-test" data-toggle="tooltip">
                  <td>{{new Date(people.time).Format('yyyy-MM-dd hh:mm:ss')}}</td>
                  <td>{{people.name}}</td>
                  <td>{{people.phone}}</td>
                  <td>{{people.text}}</td>
                  <td><a class="btn btn-warning" :value="index" onclick="deleteMan(this)"><i class="fa fa-trash fa-fw"></i></a></td>
                </tr>
              </table>
            </div>
          </div>
          <div style="text-align: right;padding: 3px 20px 20px 0px">
            <button type="submit" class="btn btn-danger" onclick="deleteAllMan()"><i class="fa fa-eraser fa-fw"></i> 清空报名</button>
            <button type="submit" class="btn btn-success" onclick="getPeople()"><i class="fa fa-retweet fa-fw"></i> 刷新列表</button>
            <button type="submit" class="btn btn-success" onclick="downloadTable()"><i class="fa fa-download fa-fw"></i> 下载表格</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script src="js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="js/mb.js"></script>
<script type="text/javascript">
  $('.form_datetime').datetimepicker({
    pickerPosition: "top-left",
    format: 'yyyy-mm-dd hh:ii:00',
    language: 'zh-CN',
    todayBtn: 1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    MaxView: 4,
    showMeridian: 1
  });
  var detail = new Vue({
    el: '#detailBox',
    data: {
      detail: {
        id: 10000,
        name: '日常训练',
        class: 'warning',
        state: '报名中',
        endDate: '2017-9-1 11:22:00',
        startDate: '2017-9-2 11:22:00',
        textDate: '2017-9-2 11:22:00',
        text: '你想要训练些什么',
      },
    }
  });
  var man = new Vue({
    el: '#manTable',
    data: {
      peoples: [],
    }
  });
  var list = new Vue({
    el: '#mylistTable',
    data: {
      meetings: [{
        id: 10000,
        name: '列表刷新中...',
        class: 'success',
        state: '请稍后',
        endDate: '等一下呢...',
        startDate: '很快就能加载完...',
        text: '',
        actors: 0,
      }, ]
    }
  });
  $(function() {
    if (getCookie('isLogin') == 'true') {
      $('#myName').html(getCookie('name'));
      getList();
    } else {
      window.location.href = 'index.html';
    }
  });

  function downloadTable() {
    if (man.peoples.length) {
      $.post('/api/downloadTable', {
        id: detail.detail.id
      }, (data) => {
        if (data.state == 'ok') {
          $.get('/api/file/' + data.fileName)
          document.location = '/api/file/' + data.fileName;
        }
      });
    } else {
      sendNotice('报名用户为空');
    }

  }

  function deleteMan(e) {
    man.peoples.splice(e.getAttribute('value'), 1);
    editMan();
  }

  function deleteAllMan() {
    if (confirm('是否确定清空报名列表')) {
      man.peoples = [];
      editMan();
    }
  }

  function editMan() {
    $.post('/api/editMan', {
      id: detail.detail.id,
      peoples: man.peoples,
    }, (data) => {
      if (data.state == 'ok') {
        sendNotice('删除记录成功');
      } else {
        getPeople();
        sendNotice('删除记录失败，请联系管理员');
      }
    });
  }

  function deleteActive() {
    if (confirm("你确定删除此活动吗？")) {
      $.post('/api/deleteActive', {
        id: detail.detail.id,
      }, (data) => {
        if (data.state == 'ok') {
          getList();
          $('#myTab a[href="#mylistTable"]').tab('show');
        }
      })
    }
  }

  function getList() {
    $.post('/api/getList', {}, (data) => {
      if (data.isLogin == false) {
        logout();
      }
      if (data.state == 'ok') {
        list.meetings = data.meetings;
        if (list.meetings.length == 0) {
          $('#noActiveBox').show();
        } else {
          $('#noActiveBox').hide();
          var now = new Date();
          now = now.getTime();
          for (var i = 0; i < list.meetings.length; i++) {
            var that = list.meetings[i].endDate;
            that = new Date(that);
            if (that > now) {
              list.meetings[i].class = 'warning';
              list.meetings[i].state = '报名中';
            } else {
              list.meetings[i].class = 'danger';
              list.meetings[i].state = '已截止';
            }
          }
        }
      } else {
        window.location.href = 'index.html';
      }
    })
  }

  function isNull(id, str) {
    if (document.getElementById(id).value == '') {
      sendNoticeIn(str);
      $('#' + id).focus();
      return 1;
    } else {
      return 0;
    }
  }

  function cleanNew() {
    $('#meetName').val('');
    $('#meetEndDate').val('');
    $('#meetEmail').val('');
    $('#meetText').val('');
    $('#meetStartDate').val('');
  }

  function addActive() {
    if (isNull('meetName', '活动名称不能为空')) return;
    if (isNull('meetEndDate', '报名截至日期不能为空')) return;
    if (isNull('meetEmail', '负责人邮箱不能为空')) return;
    if (isNull('meetText', '活动问题不能为空')) return;
    if (isNull('meetStartDate', '时间或地点不能为空')) return;
    var endDate = new Date($('#meetEndDate').val());
    if (endDate == 'Invalid Date') {
      sendNoticeIn('非法时间，请重新选择');
      $('#meetEndDate').focus();
      return;
    }
    $.post('/api/addActive', {
      name: $('#meetName').val(),
      text: $('#meetText').val(),
      email: $('#meetEmail').val(),
      startDate: $('#meetStartDate').val(),
      endDate: endDate,
    }, (data) => {
      if (data.state == 'ok') {
        getList();
        $('#addMeet').modal('hide');
      } else {
        sendNoticeIn('创建活动失败，请重新登陆。');
      }
    });
  }

  function setActive(e) {
    detail.detail = list.meetings[e.getAttribute('value')];
    detail.detail.textDate = new Date(detail.detail.endDate).Format('yyyy-MM-dd hh:mm:ss');
    $('#deadLine').val(detail.detail.textDate);
    getPeople();
  }

  function getPeople() {
    $.post('/api/getPeople', {
      id: detail.detail.id,
    }, (res) => {
      if (res.state == 'ok') {
        man.peoples = res.peoples;
      } else {
        sendNotice('你的登陆已失效，请重新登陆，3秒后跳转到登陆界面');
        setTimeout(function() {
          window.location.href = 'https://my.zhenly.cn/?sid=10001';
        }, 3000);
      }
    });
  }

  function editActive() {
    if (detail.detail.meetName == '') {
      sendNotice('活动名称不能为空');
      return;
    }
    if (detail.detail.textDate == '') {
      sendNotice('报名截至日期不能为空');
      return;
    }
    if (detail.detail.email == '') {
      sendNotice('负责人邮箱不能为空');
      return;
    }
    if (detail.detail.text == '') {
      sendNotice('活动问题不能为空');
      return;
    }
    if (detail.detail.startDate == '') {
      sendNotice('时间或地点不能为空');
      return;
    }
    var endDate = new Date($('#deadLine').val());
    if (endDate == 'Invalid Date') {
      sendNoticeIn('非法时间，请重新选择');
      $('#deadLine').focus();
      return;
    }
    detail.detail.endDate = endDate;
    $.post('/api/editActive', {
      id: detail.detail.id,
      name: detail.detail.name,
      text: detail.detail.text,
      email: detail.detail.email,
      startDate: detail.detail.startDate,
      endDate: detail.detail.endDate,
    }, (data) => {
      if (data.state == 'ok') {
        getList();
        sendNotice('修改信息成功');
      } else {
        sendNotice('修改信息失败，请重新登陆');
      }
    });
  }
</script>

</html>