<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#f8f8f8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>华农乒协训练预约系统</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">
  <style type="text/css">
    body {
      background-color: #EEE;
    }
    
    .input-group {
      padding-top: 20px;
    }
    
    .panel-title {
      margin: 10px;
      font-size: 22px;
    }
  </style>
</head>

<body>
  <ul class="nav nav-tabs" id="myTab" style="display: none;">
    <li>
      <a href="#mylistTable"></a>List</li>
    <li>
      <a href="#joinInDiv"></a>SignIn</li>
  </ul>

  <div class="container-fluid">
    <div class="tab-content">
      <div class="col-md-10 col-md-offset-1 active tab-pane fade in" style="padding-top: 3%;" id="mylistTable" role="tabpanel">
        <div class="panel panel-success" v-for="(meeting, index) in meetings">
          <div class="panel-heading">
            <h2 class="panel-title">{{meeting.name}} <span :class="'label label-' + meeting.class">{{meeting.state}}</span></h2>
          </div>
          <div class="panel-body">
            <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{meeting.startDate}}</p>
            <p><i class="fa fa-users fa-fw" aria-hidden="true"></i> 报名人数: {{meeting.actors}}</p>
          </div>
          <div class="panel-footer" style="text-align: right;" v-if="meeting.class == 'warning' ||meeting.class == 'primary'">
            <p style="margin-bottom: 0px;">报名截至: {{new Date(meeting.endDate).Format('yyyy-MM-dd hh:mm:ss')}}
              <a id="signInBtn" href="#joinInDiv" aria-controls="loginDiv" role="tab" data-toggle="tab" style="margin-left: 10px;" class="btn btn-success" onclick="signIn(this)" :value="index">
                <span v-if="meeting.state == '成功报名'">再次报名</span>
                <span v-else>报名</span>
              </a>
            </p>
          </div>
        </div>
        <div id="noActiveBox" class="panel panel-success" style="display: none;">
          <div class="panel-body">
            <h4>当前没有任何活动</h4>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 tab-pane fade in" style="padding-top: 3%;" id="joinInDiv" role="tabpanel">
        <div class="panel panel-success">
          <div class="panel-heading" style="font-size: 17px;">
            <i href="#mylistTable" aria-controls="loginDiv" role="tab" data-toggle="tab" class="fa fa-arrow-left fa-fw" style="margin-right: 20px;"></i> 报名
            <b id="activeName"></b>
          </div>
          <div class="panel-body">
            <div id="notice"></div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                <input type="text" id="userName" class="form-control" placeholder="名字" aria-describedby="inputGroupSuccess1Status">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" id="userPhone" class="form-control" placeholder="手机" aria-describedby="inputGroupSuccess1Status">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-question"></i></span>
                <input type="text" id="userWander" class="form-control" placeholder="" aria-describedby="inputGroupSuccess1Status">
              </div>
            </div>
          </div>
          <div style="text-align: right;padding: 3px 20px 20px 0px">
            <button type="submit" class="btn btn-success btn-lg" onclick="postMan(this)" id="postBtn"><i class="fa fa-plus fa-fw"></i> 报名</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="js/mb.js"></script>
<script type="text/javascript">
  var list = new Vue({
    el: '#mylistTable',
    data: {
      meetings: [{
        id: 10000,
        name: '列表刷新中...',
        class: 'success',
        state: '请稍后',
        endDate: '',
        startDate: '疯狂向服务器获取数据中...',
        text: '',
        actors: 0,
      }]
    }
  });
  $(function() {
    getList();
  });

  $('#userName').bind('keypress', function(event) {
    if (event.keyCode == "13") {
      $('#userPhone').focus();
    }
  });
  $('#userPhone').bind('keypress', function(event) {
    if (event.keyCode == "13") {
      $('#userWander').focus();
    }
  });
  $('#userWander').bind('keypress', function(event) {
    if (event.keyCode == "13") {
      $('#postBtn').focus();
    }
  });

  function postMan(e) {
    if (!regularTest(/^.{1,16}$/, 'userName', '请输入合法的姓名(不超过16位字符)')) return;
    if (!regularTest(/^1[34578]\d{9}$/, 'userPhone', '请输入合法的手机号码')) return;
    $.post('/api/postMan', {
      id: e.getAttribute('value'),
      name: $('#userName').val(),
      phone: $('#userPhone').val(),
      text: $('#userWander').val(),
      time: new Date(),
    }, (data) => {
      if (data.state == 'ok') {
        document.cookie = e.getAttribute('value') + '=true';
        sendNotice($('#userName').val() + ', 你已成功报名!');
        $('#userName').val('');
        $('#userPhone').val('');
        $('#userWander').val('');
        getList();
        setTimeout(function() {
          $('#myTab a[href="#mylistTable"]').tab('show');
        }, 1000);
      } else {
        switch (data.reason) {
          case 'IP_LIMIT':
            sendNotice('服务器傲娇地拒绝了你，休息一下再报名吧');
            break;
          case 'NO_ID':
            sendNotice('数据错误，请刷新列表后再报名');
            break;
          default:
            sendNotice('内部错误，请联系管理员');
            break;
        }
      }
    });
  }

  function signIn(e) {
    $('#activeName').html(list.meetings[e.getAttribute('value')].name);
    $('#userWander').attr('placeholder', list.meetings[e.getAttribute('value')].text);
    $('#postBtn').attr('value', list.meetings[e.getAttribute('value')].id);
    $('#userName').val('');
    $('#userPhone').val('');
    $('#userWander').val('');
  }

  function getList() {
    list.meetings = [];
    $('#noActiveBox').show();
    $.post('/api/getList', {}, (data) => {
      list.meetings = data.meetings;
      if (list.meetings == undefined) {
        $('#noActiveBox').show();
      } else {
        $('#noActiveBox').hide();
        var now = new Date();
        now = now.getTime();
        for (var i = 0; i < list.meetings.length; i++) {
          var that = list.meetings[i].endDate;
          that = new Date(that);
          if (getCookie(list.meetings[i].id) == 'true') {
            list.meetings[i].class = 'primary';
            list.meetings[i].state = '成功报名';
          } else if (that > now) {
            list.meetings[i].class = 'warning';
            list.meetings[i].state = '报名中';
          } else {
            list.meetings[i].class = 'danger';
            list.meetings[i].state = '已截止';
          }
        }
      }
      if (data.isLogin == true) {
        $('#myAdmin').html('后台管理');
        document.cookie = 'isLogin=true';
      } else {
        $('#myAdmin').html('登陆后台');
        document.cookie = 'isLogin=false';
      }
    });
  }

  function toAdmin() {
    if (getCookie('isLogin') == 'true') {
      window.location.href = 'admin.html';
    } else {
      window.location.href = 'https://my.zhenly.cn/?sid=10001';
    }
  }
</script>

</html>