<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color" content="#f8f8f8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>华农乒协训练预约系统</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="favicon.ico" />
  <style type="text/css">
    body {
      padding-top: 70px;
      background-color: #EEE;
    }
    
    .input-group {
      padding-top: 20px;
    }
    
    .panel-title {
      margin: 10px;
      font-size: 22px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #f8f8f8;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">华农乒协训练预约系统</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        <li>
          <a href="javascript:void(0)" onclick="getList()">刷新列表</a>
        </li>
        <li>
          <a href="javascript:void(0)" onclick="toAdmin()">
            <span id="myAdmin">登陆后台</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="nav nav-tabs" id="myTab" style="display: none;">
    <li>
      <a href="#mylistTable"></a>List</li>
    <li>
      <a href="#joinInDiv"></a>SignIn</li>
  </ul>

  <div class="container-fluid">
    <div class="tab-content">
      <div class="col-md-10 col-md-offset-1 active tab-pane fade in" style="padding-top: 3%;" id="mylistTable" role="tabpanel">
        <div class="panel panel-success" v-for="(meeting, index) in meetings">
          <div class="panel-heading">
            <h2 class="panel-title">{{meeting.name}}
              <span :class="'label label-' + meeting.class">{{meeting.state}}</span>
            </h2>
          </div>
          <div class="panel-body">
            <p>
              <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{meeting.startDate}}</p>
            <p>
              <i class="fa fa-users fa-fw" aria-hidden="true"></i> 报名人数: {{meeting.actors}}</p>
          </div>
          <div class="panel-footer" style="text-align: right;" v-if="meeting.class == 'warning' ||meeting.class == 'primary'">
            <p style="margin-bottom: 0;">报名截至: {{new Date(meeting.endDate).Format('yyyy-MM-dd hh:mm:ss')}}
              <a id="signInBtn" href="#joinInDiv" aria-controls="loginDiv" role="tab" data-toggle="tab" style="margin-left: 10px;" class="btn btn-success" onclick="signIn(this)" :value="index">
                <span v-if="meeting.state == '成功报名'">再次报名</span>
                <span v-else>报名</span>
              </a>
            </p>
          </div>
        </div>
        <div id="noActiveBox" class="panel panel-success" style="display: none;">
          <div class="panel-body">
            <h4>当前没有任何活动</h4>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 tab-pane fade in" style="padding-top: 3%;" id="joinInDiv" role="tabpanel">
        <div class="panel panel-success">
          <div class="panel-heading" style="font-size: 17px;">
            <i href="#mylistTable" aria-controls="loginDiv" role="tab" data-toggle="tab" class="fa fa-arrow-left fa-fw" style="margin-right: 20px;"></i> {{detail.name}}
            <b id="activeName"></b>
          </div>
          <div class="panel-body">
            <div id="notice"></div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user-o"></i>
                </span>
                <input type="text" id="userName" class="form-control" placeholder="名字" aria-describedby="inputGroupSuccess1Status" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </span>
                <input type="text" id="userPhone" class="form-control" placeholder="手机" aria-describedby="inputGroupSuccess1Status">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-question"></i>
                </span>
                <input type="text" id="userWander" class="form-control" :placeholder="detail.text" aria-describedby="inputGroupSuccess1Status" />
              </div>
            </div>
          </div>
          <div style="padding-left: 30px;font-size: 16px;" class="form-group" v-if="detail.teams.length !== 0">
            <div class="input-group">
              <p>队伍选择</p>
              <div class="radio" v-for="(team, index) in detail.teams">
                <label>
                  <input type="radio" name="optionsRadios" :id="'optionsRadios' + team.id" :value="team.id" v-model="picked"/>
                  {{team.id}} {{team.man}} {{team.sex}} {{team.tyoe}} {{team.location}} 目前已有{{team.actors}}人报名
                </label>
              </div>
            </div>
          </div>
          <div style="text-align: right;padding: 3px 20px 20px 0">
            <button type="submit" class="btn btn-success btn-lg" onclick="postMan(this)" id="postBtn" :value="detail.id">
              <i class="fa fa-plus fa-fw"></i> 报名</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="js/mb.js"></script>
<script type="text/javascript">
  var nowList = new Vue({
    el: '#joinInDiv',
    data: {
      detail: {
        "id": "59e5ebcc0bca1265567ef6c1",
        "name": "想学球但没加队的同学看这里",
        "email": "3034747671@qq.com",
        "endDate": "2017-10-20T03:55:00.000Z",
        "startDate": "周天下午3点泰山1栋楼下乒乓球室",
        "text": "性别?宿舍区? 横拍还是直拍？",
        "actors": 30,
        class: 'warning',
        state: '报名中',
        picked: 0,
      }
    }
  });
  var list = new Vue({
    el: '#mylistTable',
    data: {
      meetings: [{
        id: 10000,
        name: '列表刷新中...',
        class: 'success',
        state: '请稍后',
        endDate: '',
        startDate: '疯狂向服务器获取数据中...',
        text: '',
        actors: 0,
      }]
    }
  });
  $(function() {
    getList();
  });

  $('#userName').bind('keypress', function(event) {
    if (event.keyCode == "13") {
      $('#userPhone').focus();
    }
  });
  $('#userPhone').bind('keypress', function(event) {
    if (event.keyCode == "13") {
      $('#userWander').focus();
    }
  });
  $('#userWander').bind('keypress', function(event) {
    if (event.keyCode == "13") {
      $('#postBtn').focus();
    }
  });

  function postMan(e) {
    if (!regularTest(/^.{1,16}$/, 'userName', '请输入合法的姓名(不超过16位字符)')) return;
    if (!regularTest(/^1[34578]\d{9}$/, 'userPhone', '请输入合法的手机号码')) return;
    if (nowList.detail.teams.length !== 0 && nowList.picked === 0) {
      sendNotice('请选择一只队伍');
      return;
    }
    $.post('/api/postMan', {
      id: e.getAttribute('value'),
      name: $('#userName').val(),
      phone: $('#userPhone').val(),
      text: $('#userWander').val() == '' ? '无' : $('#userWander').val(),
      team: nowList.picked === undefined ? 0 : nowList.picked,
      time: new Date(),
    }, (data) => {
      if (data.state == 'ok') {
        document.cookie = e.getAttribute('value') + '=true';
        sendNotice($('#userName').val() + ', 你已成功报名!');
        $('#userName').val('');
        $('#userPhone').val('');
        $('#userWander').val('');
        getList();
        setTimeout(function() {
          $('#myTab a[href="#mylistTable"]').tab('show');
        }, 1000);
      } else {
        switch (data.reason) {
          case 'IP_LIMIT':
            sendNotice('服务器傲娇地拒绝了你，休息一下再报名吧');
            break;
          case 'NO_ID':
            sendNotice('数据错误，请刷新列表后再报名');
            break;
          default:
            sendNotice('内部错误，请联系管理员');
            break;
        }
      }
    });
  }

  function signIn(e) {

    nowList.detail = list.meetings[e.getAttribute('value')];
    nowList.picked = 0;
    let radios = document.getElementsByName('optionsRadios');
    for (let i in radios) {
      radios[i].checked = false
    }
    /* $('#activeName').html(list.meetings[e.getAttribute('value')].name);
    $('#userWander').attr('placeholder', list.meetings[e.getAttribute('value')].text);
    $('#postBtn').attr('value', list.meetings[e.getAttribute('value')].id); */
    $('#userName').val('');
    $('#userPhone').val('');
    $('#userWander').val('');
  }

  function getList() {
    list.meetings = [];
    $('#noActiveBox').show();
    $.post('/api/getList', {}, (data) => {
      list.meetings = data.meetings;
      if (list.meetings.length === 0) {
        $('#noActiveBox').show();
      } else {
        $('#noActiveBox').hide();
        var now = new Date();
        now = now.getTime();
        for (var i = 0; i < list.meetings.length; i++) {
          var that = list.meetings[i].endDate;
          that = new Date(that);
          if (getCookie(list.meetings[i].id) == 'true') {
            list.meetings[i].class = 'primary';
            list.meetings[i].state = '成功报名';
          } else if (that > now) {
            list.meetings[i].class = 'warning';
            list.meetings[i].state = '报名中';
          } else {
            list.meetings[i].class = 'danger';
            list.meetings[i].state = '已截止';
          }
        }
      }
      if (data.isLogin == true) {
        $('#myAdmin').html('后台管理');
        document.cookie = 'isLogin=true';
      } else {
        $('#myAdmin').html('登陆后台');
        document.cookie = 'isLogin=false';
      }
    });
  }

  function toAdmin() {
    if (getCookie('isLogin') == 'true') {
      window.location.href = 'admin.html';
    } else {
      window.location.href = 'https://my.zhenly.cn/?sid=10001';
    }
  }
</script>

</html>